* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    ---raleway: 'Raleway', sans-serif;
    ---paragraph: #858585;
    ---headings: #fff;
    ---primary-color: #0080d5;
}

html {
    font-size: 10px;
}

.container {
    width: 65%;
    height: auto;
    margin: 0 auto;
}

body {
    background-color: rgb(243, 243, 243);
}

/* --------------------Banner section starts--------------------- */

.banner {
    background-image: url(../image/dd.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 75vh;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: var(---raleway);
}

.nav .nav-left {
    margin-top: 4rem;
}

.nav .nav-left h1 {
    font-size: 1.7rem;
    font-weight: 600;
    letter-spacing: .1rem;
}

.nav .nav-right {
    margin-top: 4rem;
    color: white;
    /* font-family: var(---raleway); */
}

.nav .nav-right ul {
    display: flex;
    align-items: center;
}

.nav .nav-right ul li {
    margin-left: 1rem;
    list-style: none;
    padding: .8rem 1.2rem;
    cursor: pointer;
    /* font-family: var(---raleway); */
    transition: 5s linear;

}


.nav .nav-right ul li :hover {

    color: var(---primary-color);
}

.nav .nav-right ul li a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: .08rem;
}

.banner .banner-head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 18rem;
    color: white;
    font-family: var(---raleway);
}

.banner .banner-head h1 {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: .08rem;
}

.banner .banner-head p {
    margin-top: 1rem;
    color: rgb(245, 245, 245);
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: .08rem;
}


/* ---------------------three sections starts------------------------- */

.three-section {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 3rem;
    font-family: var(---raleway);
}

.three-content {
    flex-basis: 30%;
    border-right: .105rem solid#c6c4c4;
    /* color: #757575; */
    padding-right: 5%;
}

.b-none {
    border-right: none;
    padding-right: none;
}

.three-content h1 {
    color: var(---primary-color);
    font-size: 1.7rem;
    font-weight: 590;
    line-height: 2.4rem;
}

.three-content p {
    font-size: 1.1rem;
    color: var(---paragraph);
    font-weight: normal;
    letter-spacing: .08rem;
    margin: 2rem 0;
    line-height: 2rem;
    /* text-align: justify; */
}

.button {
    background-color: var(---primary-color);
    font-family: var(---raleway);
    letter-spacing: .07rem;
    font-size: 1.2rem;
    color: white;
    border: none;
    padding: .5rem 1rem;
}


/* ----------------------------four sectins starts------------------------- */
.four-wrapper {
    background-color: var(---primary-color);
    width: 100%;
    padding: 10rem 0rem;
    margin: 8rem 0;
}

.four-section {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8 0rem;
    width: 100%;
    font-family: var(---raleway);
    text-align: center;
    color: white;

}

.four-content {
    flex-basis: 20%;
    padding: 3.4rem 1.8rem;
    border: .105px solid white;
}

.four-section .four-content img {
    width: 85%;
    border-radius: 100%;
    /* text-align: center; */
}

.four-content h1 {
    font-size: 1.5rem;
    font-weight: 450;
    margin-top: 2rem;
    margin-bottom: 1rem;
    letter-spacing: .105rem;
}

.four-content p {
    font-size: 1.1rem;
    letter-spacing: .105rem;
}


/* ----------------------our locations0---------------------------- */

.location-head {
    margin-top: 8rem;
    margin-bottom: 5rem;
    text-align: center;
    font-family: var(---raleway);
}

.location-head h1 {
    color: var(---paragraph);
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.4rem;
}


.location-head p {
    font-size: 1.1rem;
    color: var(---paragraph);
    font-weight: 370;
    letter-spacing: .08rem;
    margin-top: .8rem;
    line-height: 2rem;
}

.location-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(---raleway);
    margin-bottom: 4rem;
}

.location-content {
    flex-basis: 43%;
}

.location-content img {
    width: 100%;
}

.location-content h1 {
    color: var(---primary-color);
    font-size: 1.7rem;
    font-weight: 590;
    line-height: 2.4rem;
    margin-top: 2rem;
}

.location-content p {
    font-size: 1.1rem;
    color: var(---paragraph);
    font-weight: 300;
    letter-spacing: .08rem;
    margin: 1.6rem 0;
    line-height: 2rem;
}

.hr {
    margin-top: 7rem;
    margin-bottom: 4rem;
    width: 100%;
    border-color: #fefefe;
    border-radius: 100%;
}


.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    font-family: var(---raleway);
    margin-bottom: 3rem;
}

.footer-content p {
    font-size: 1.2rem;
    font-weight: 220;
    color: var(---paragraph);
    letter-spacing: .106rem;
}

.footer-content span {
    font-size: 1.6rem;
    position: relative;
    top: 2px;
}

.footer-content i {
    font-size: 1.7rem;
    color: black;
    margin-left: 2.2rem;
}





































































/* -------------------------media query starts--------------------- */


@media only screen and (max-width:720px) {
    html {
        font-size: 8.5px;
    }

    .banner {
        height: 50vh;
    }

    .container {
        width: 96%;
    }

    .three-content {
        flex-basis: 100%;
        margin-bottom: 3rem;
        border-bottom: .105rem solid#c6c4c4;
        border-right: none;
        padding-bottom: 2rem;
    }

    .b-none {
        border-bottom: none;
    }

    .four-content {
        flex-basis: 45%;
        margin: 2rem 0;

    }

    .location-content {
        flex-basis: 100%;
        /* margin: 3rem; */
        margin-bottom: 3rem;
    }

    .footer {
        text-align: center;
    }

    .footer-content {
        width: 100%;
    }

    .footer-content i {
        margin-top: 2rem;
    }
}



/* --------------for container---------------------- */
@media only screen and (max-width:1000px) {

    .container {
        width: 75%;
    }
}


@media only screen and (max-width:860px) {
    html {
        font-size: 9px;
    }

    .container {
        width: 85%;
    }

    .banner {
        height: 55vh;
    }
}